<table class="tab60">
    <tr>
        <th class="menu {% if selected == 'locations' %}selected{% endif %}"><A HREF="/locations">LOCATIONS</A></th>
        <th class="menu {% if selected == 'devices' %}selected{% endif %}"><A HREF="/devices">DEVICES</A></th>
        <th class="menu {% if selected == 'links' %}selected{% endif %}"><A HREF="/links">LINKS</A></th>
        <th class="menu {% if selected == 'simulation' %}selected{% endif %}"><A HREF="/simulation">SIMULATION</A></th>
    </tr>
</table>
<br>
